<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Phần mềm quản lý</title>
  <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
<div id="app">
  <header id="header">
    <h2>Trang web Blog</h2>
  </header>
  <main id="main">
    <aside class="aside">
      <h2>Dashboards</h2>
      <ul>
        <li><a href="/blog">Default</a></li>
        <li><a href="">Other</a></li>
      </ul>
      <h2>Bài viết mới nhất</h2>
      <ul>
        <li th:each="blog : ${blogList}">
          <a th:href="@{/blogs/{id}(id=${blog.getId()})}" style="color: white" th:text="${blog.getTitle()}"></a>
        </li>
      </ul>

    </aside>
    <section class="section">
      <div class="section-top">
        <h1>Thông tin Blog</h1>
        <form action="Products/create" class="main-form">
          <input type="hidden" name="action" value="search">
          <input type="text" placeholder="Tìm kiếm" class="input-q1" name="name-blog">
          <button type="submit" class="button-search">Tìm kiếm</button>
        </form>
        <button class="button-add" onclick="window.location.href='/blogs/create'">Thêm mới</button>
        <select name="" class="select-q1">
          <option value="" style="font-weight: bold" selected disabled>Sắp xếp theo</option>
          <option value="">Tên A-Z</option>
          <option value="">Tên Z-A</option>
        </select>
      </div>
      <div>
          <a th:href="@{/blogs/{id}/update (id = ${blog.getId()})}" class="button-edit">
            <img th:src="@{/image/edit.png}" alt="" class="icon-size">
          </a>
        <button class="button-delete" th:attr="onclick=|openModal('${blog.getId()}')|" ><img th:src="@{/image/delete.png}" alt="" class="icon-size"></button>
        <div th:id="'myModal' + ${blog.getId()}" class="modal">
          <div class="modal-content">
            <lable>Bạn thật sự muốn xóa ID: <p th:text="${blog.getId()}"></p></lable>
            <button id="closeModalBtn${product.id}" class="button-close" th:attr="onclick=|closeModal('${blog.getId()}')|">Trở lại</button>
            <a th:href="@{/blogs/{id}/delete (id = ${blog.getId()})}" class="button-delconfirm">Xác nhận</a>
          </div>
        </div>
      </div>
      <hr>
      <div class="main-table" id="main-table">
        <h3>Loại bài viết</h3>
        <p th:text="${blog.typePost.nameType}"></p>
        <h3>Ngày tạo bài viết</h3>
        <p th:text="${blog.date}"></p>
        <h3>Tác giả</h3>
        <p th:text="${blog.author}"></p>
        <h3>Tiêu đề</h3>
        <p th:text="${blog.title}"></p>
        <img width="400" th:src="@{'/image/' + ${blog.image}}" alt="Ảnh Blog">
        <h3>Nội dung bài viết</h3>
        <p th:text="${blog.content}"></p>
      </div>
      <div id="pagination" class="pagination"></div>
      <div class="modal-alert" id="modal-alert">
        <div class="modal-content-alert">
          <h2>Đã cập nhật lại dữ liệu</h2>
          <p class="tick">&#10003;</p>
        </div>
      </div>
    </section>
    <aside class="aside aside2">
      <h2>Danh mục bài viết</h2>
      <nav>
        <ul style="display: flex">
          <li th:each="catelgory:${typePosts}">
            <a th:href="@{/blogs/types/{id}(id=${catelgory.id})}" style="color: white" th:text="${catelgory.nameType}"></a>
          </li>
        </ul>
      </nav>
      <p style="color: white">Phần bài viết cho loại 1</p>
      <ul>
        <li th:each="blog1:${blogsNum1}">
          <a th:href="@{/blogs/listType/{id}(id=${blog1.id})}" th:text="${blog1.title}"></a>
        </li>
      </ul>
    </aside>
  </main>
  <footer id="footer">

  </footer>
</div>
<script th:src="@{/js/app.js}" defer></script>
<script>
  let params = new URLSearchParams(window.location.search);
  let ms = params.get('ms');
  if (ms == 1) {
    let displayModal = document.getElementById("modal-alert");
    displayModal.style.display= "flex";
  }
</script>
</body>
</html>