<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Phần mềm quản lý</title>
    <link rel="stylesheet" type="text/css" th:href="@{/static/css/style.css}"/>
</head>
<body>
<div id="app">
    <header id="header">
        <h2>Phần mềm quản lý</h2>
    </header>
    <main id="main">
        <aside class="aside">
            <h2>Dashboards</h2>
            <ul>
                <li><a href="/">Default</a></li>
                <li><a href="">Other</a></li>
            </ul>
            <h2>Manager</h2>
            <ul>
                <li><a href="">Item 1</a></li>
                <li><a href="">Item 2</a></li>
                <li><a href="">Item 3</a></li>
                <li><a href="">Item 4</a></li>
            </ul>
        </aside>
        <section class="section">
            <div class="section-top">
                <h2>Danh sách</h2>
                <form action="Products/create" class="main-form">
                    <input type="hidden" name="action" value="search">
                    <input type="text" placeholder="Tìm kiếm" class="input-q1" name="name">
                    <button type="submit" class="button-search">Tìm kiếm</button>
                </form>
                <button class="button-add" onclick="window.location.href='Products/create'">Thêm mới</button>
                <select name="" id="" class="select-q1">
                    <option value="" style="font-weight: bold" selected disabled>Sắp xếp theo</option>
                    <option value="">Tên A-Z</option>
                    <option value="">Tên Z-A</option>
                </select>
            </div>
            <div class="main-table">
                <table class="table">
                    <thead>
                    <th>Item 1</th>
                    <th>Item 2</th>
                    <th>Item 3</th>
                    <th>Item 4</th>
                    <th>Item 5</th>
                    <th>Hành động</th>
                    </thead>
                    <tbody>
                        <tr th:each="products: ${productList}">
                            <td th:text="${products.getId()}"></td>
                            <td th:text="${products.getName()}"></td>
                            <td th:text="${products.getPrice()}"></td>
                            <td th:text="${products.getAbout()}"></td>
                            <td>Xem chi tiết</td>
                            <td>
                                <a th:href="@{/Products/{id}/update (id = ${products.getId()})}" class="button-edit">
                                    <img th:src="@{/static/img/edit.png}" alt="" class="icon-size">
                                </a>
                                <button class="button-delete" th:attr="onclick=|openModal('${products.getId()}')|" ><img th:src="@{/static/img/delete.png}" alt="" class="icon-size"></button>
                                <div th:id="'myModal' + ${products.getId()}" class="modal">
                                    <div class="modal-content">
                                        <lable>Bạn thật sự muốn xóa ID: <p th:text="${products.getId()}"></p></lable>
                                        <button id="closeModalBtn${product.id}" class="button-close" th:attr="onclick=|closeModal('${products.getId()}')|">Trở lại</button>
                                        <a th:href="@{/Products/{id}/delete (id = ${products.getId()})}" class="button-delconfirm">Xác nhận</a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div id="pagination" class="pagination"></div>

            <div class="modal-alert" id="modal-alert">
                <div class="modal-content-alert">
                    <h2>Đã cập nhật lại danh sách</h2>
                    <p class="tick">&#10003;</p>
                </div>
            </div>

        </section>
    </main>
    <footer id="footer">

    </footer>
</div>
<script th:src="@{/static/js/app.js}" defer></script>
<script>
    let params = new URLSearchParams(window.location.search);
    let ms = params.get('ms');
    if (ms == 1) {
        let displayModal = document.getElementById("modal-alert");
        displayModal.style.display= "flex";
    }
</script>
</body>
</html>